*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: weight; */
    font-style: normal;
    background-color:  hsl(0, 0%, 8%)
    ;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

h1{
    margin: 25px 0 5px 0;
    font-size: 6vw;
}

img{ 
    border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;
    width: 30%;
}

section{
    background-color:  hsl(0, 0%, 12%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin: 50px 20px;
    padding: 20px;
}

section header p:first-of-type{
    color:  hsl(75, 94%, 57%);

}

section header p:last-of-type{
    margin: 25px 0 18px 0;
}

.link div{
    background-color:  hsl(0, 0%, 20%);
    margin: 12px 0;
    padding: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 600;
}

.link div:hover{
    background-color: hsl(75, 94%, 57%);
}

.link div:hover, a:hover{
    cursor: url('assets/images/hand-cursor-black.png'), pointer;
}

.link div:last-of-type{
    margin-bottom: 0;
}

p{
    font-size: 14px;   
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);;
}

@media (min-width: 1440px){
    section{
        padding: 40px;
    }
}

